<%-include('../includes/dashHeader.ejs')%>
    </head>
    <%-include('../includes/sidebar.ejs')%>
        <div class="container-fluid mb-4">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800 text-center">
                    Add Employee
                </h1>
            </div>
            <div class="card p-5">
                <div class="row">
                    <form class="user">
                        <div class="form-group row">
                          <div class="col-sm-6 mb-3 ">
                            <input type="text" class="form-control form-control-user" id="firstName"
                              placeholder="First Name">
                          </div>
                          <div class="col-sm-6">
                            <input type="text" class="form-control form-control-user" id="lastName"
                              placeholder="Last Name">
                          </div>
                        </div>
                        <div class="form-group row">
                            <div class="col mb-3">
                                <input type="text" class="form-control form-control-user" list="firmList" id="firmId" autocomplete="off"  placeholder="Choose Firm"/>
                                <datalist id="firmList">
                                    <%firms.forEach((firm)=>{%>
                                        <option value="<%=firm._id%>"><%=firm.name%></option>
                                    <%})%>
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3">
                                <input type="email" class="form-control form-control-user" id="email"
                                  placeholder="Email Address">
                            </div>
                            <div class="col-sm-6">
                                <input type="tel" id="contact" placeholder="Contact Number" name="contact" class="form-control form-control-user" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col mb-3">
                                <input type="text" id="address" placeholder="Address" name="address" class="form-control form-control-user"/>
                            </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-sm-3 mb-3">
                            <input type="text" id="city" placeholder="City" class="form-control form-control-user" />
                          </div>
                          <div class="col-sm-3">
                            <input type="text" id="state" placeholder="State" class="form-control form-control-user" />
                          </div>
                          <div class="col-sm-3">
                            <input type="text" id="country" placeholder="Country" class="form-control form-control-user" />
                          </div>
                          <div class="col-sm-3">
                            <input type="text" id="pincode" placeholder="PinCode" class="form-control form-control-user" />
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-sm-6 mb-3 ">
                            <input type="password" class="form-control form-control-user" id="password"
                              placeholder="Password">
                          </div>
                          <div class="col-sm-6">
                            <input type="password" class="form-control form-control-user" id="confirmPassword"
                              placeholder="Confirm Password">
                          </div>
                        </div>
                        <button id="register" class="btn btn-primary btn-user btn-block mb-2 fs-6">
                          Create Employee
                        </button>
                        <!-- validation errors-->
                        <span align="center" class="d-none text-danger form-outline border border-secondary"
                          id="validationFail" name="validationFail"
                          style="display:inline-block; width: 100%;background-color: rgb(253, 180, 172);"></span>
                        <br>
    
                        <span align="center" class="d-none text-success form-outline text-center border border-secondary"
                          id="validationSuccess" name="validationSuccess"
                          style="display:inline-block; width: 100%; background-color: rgb(172, 253, 172);"></span>
    
                      </form>
                </div>
            </div>
        </div>
        <%-include('../includes/dashFooter.ejs')%>
        <script src="/js/employee.js"></script>