<%-include('../includes/dashHeader.ejs')%>
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    </head>
    <%-include('../includes/sidebar.ejs')%>
        <div class="container-fluid mb-4">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800 text-center">
                    View Products
                </h1>
            </div>
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Firm Name</th>
                                    <th>Description</th>
                                    <th>Color</th>
                                    <th>Size</th>
                                    <th>Price</th>
                                    <th>Stock</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Firm Name</th>
                                    <th>Description</th>
                                    <th>Color</th>
                                    <th>Size</th>
                                    <th>Price(₹)</th>
                                    <th>Stock</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <%products.forEach((product)=>{%>
                                    <tr>
                                        <td>
                                            <%=product.name%>
                                        </td>
                                        <td>
                                            <%=product.firmId.name%>
                                        </td>
                                        <td>
                                            <%=product.description%>
                                        </td>
                                        <td>
                                            <%=product.color%>
                                        </td>
                                        <td>
                                            <%=product.size%>
                                        </td>
                                        <td>
                                            <%=product.price%>
                                        </td>
                                        <td>
                                            <%=product.stock%>
                                        </td>
                                        <td><a href='/editproduct/<%=product._id%>' class="btn btn-info btn-user table-responsive">Edit</a></td>
                                    </tr>
                                    <%});%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <%-include('../includes/dashFooter.ejs')%>
            <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
            <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
            <!-- Page level custom scripts -->
            <script src="/js/demo/datatables-demo.js"></script>

            </body>
            </html>